#hero-contact {
  position: relative;
  width: 100%;
  background-image: url("../assets/images/contact.jpg");
  height: calc(60vh - 70px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero-overlay {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 0, 0, 0.1) 70%,
    rgba(0, 0, 0, 0.1) 100%
  );
}

.overlay-text {
  width: 600px;
  position: absolute;
  bottom: 80px;
  left: 120px;
  text-align: left;
}

.overlay-text h1 {
  font-size: 56px;
  color: white;
}

.overlay-text p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.contact-form {
  background-color: rgba(35, 48, 34, 0.2);
  padding: 55px 70px;
  margin: 120px auto;
  max-width: 1200px;
  border-radius: 10px;
}

.contact-form h2 {
  color: black;
  font-size: 32px;
  text-align: left;
  margin: 0;
}

h2 span {
  font-weight: 100;
  padding-bottom: 5px;
}

h2:nth-child(2) {
  padding-bottom: 35px;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form .label {
  margin-bottom: 5px;
  color: #0c898a;
  font-weight: 500;
  font-size: 16px;
}

.name-row {
  display: flex;
  gap: 20px;
}

.input-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #233022;
  border-radius: 10px;
}

.contact-form button {
  align-self: flex-end;
  width: 150px;
  height: 40px;
  font-size: 16px;
  margin-top: 15px;
  padding: 10px;
  background-color: #0c898a;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button:hover {
  background-color: #086061;
}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px 0;
  margin: 120px;
}

.contact-box {
  background-color: #0c898a;
  color: black;
  width: 280px;
  padding: 80px 40px;
  border-radius: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-icon {
  width: 30px;
  margin-bottom: 20px;
}

.location {
  width: 22px;
}

.contact-box h3 {
  margin: 0;
  font-size: 18px;
}

.contact-box p {
  margin: 0;
  font-size: 16px;
  line-height: 2;
}

.location-map {
  width: 100%;
  padding: 0;
  margin: 0;
}

.location-map iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

@media (min-width: 1101px) and (max-width: 1740px) {
  .contact-form {
    padding: 50px 60px;
    margin: 100px 60px;
    max-width: 90%;
  }

  .contact-info {
    margin: 100px 40px;
    gap: 30px;
    flex-wrap: wrap;
  }

  .contact-box {
    width: 32%;
    padding: 70px 30px;
  }

  .location-map iframe {
    height: 420px;
  }
}

@media (min-width: 1024px) and (max-width: 1100px) {
  .overlay-text h1 {
    font-size: 48px;
  }

  .overlay-text p {
    font-size: 14px;
  }

  .contact-form {
    padding: 40px 40px;
    margin: 80px 50px;
    max-width: 90%;
  }

  .contact-info {
    margin: 80px 30px;
    gap: 25px;
    justify-content: center;
  }

  .contact-box {
    width: 48%;
    padding: 60px 25px;
  }

  .location-map iframe {
    height: 400px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .overlay-text {
    width: 50%;
    bottom: 80px;
    left: 100px;
  }

  .overlay-text h1 {
    font-size: 40px;
  }

  .overlay-text p {
    font-size: 14px;
  }

  .contact-form {
    padding: 40px 40px;
    margin: 70px 40px;
    max-width: 95%;
  }

  .contact-form h2 {
    font-size: 30px;
    text-align: left;
  }

  .name-row {
    flex-direction: row;
    gap: 20px;
  }

  .contact-form .label {
    font-size: 15px;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 15px;
  }

  .contact-form button {
    width: 150px;
    align-self: flex-end;
  }

  .contact-info {
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px 25px;
    gap: 25px;
  }

  .contact-box {
    width: 45%;
    padding: 50px 25px;
  }

  .location-map iframe {
    height: 380px;
  }
}

@media (min-width: 671px) and (max-width: 767px) {
  .overlay-text {
    width: 40%;
    bottom: 80px;
    left: 70px;
  }

  .overlay-text h1 {
    font-size: 28px;
  }

  .overlay-text p {
    font-size: 12px;
  }

  #hero-contact {
    height: 40vh;
  }

  .contact-form {
    padding: 25px 20px;
    margin: 50px 30px;
  }

  .contact-form h2 {
    font-size: 26px;
    text-align: left;
  }

  .name-row {
    flex-direction: column;
    gap: 0;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .contact-form input,
  .contact-form textarea {
    margin-bottom: 12px;
    font-size: 15px;
  }

  .contact-form button {
    align-self: flex-end;
    width: 150px;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    margin: 50px 15px;
    gap: 20px;
  }

  .contact-box {
    width: 100%;
    max-width: 450px;
    padding: 35px 18px;
  }

  .location-map iframe {
    height: 350px;
  }
}

@media (max-width: 670px) {
  #hero-contact {
    height: 40vh;
  }

  .overlay-text {
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay-text h1 {
    font-size: 26px;
  }

  .overlay-text p {
    font-size: 10px;
  }

  .hero-overlay {
    background: rgba(0, 0, 0, 0.5);
  }

  .contact-form {
    padding: 20px 15px;
    margin: 40px 20px;
  }

  .contact-form h2 {
    font-size: 22px;
    text-align: center;
  }

  .contact-form .label,
  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .name-row {
    flex-direction: column;
    gap: 0;
  }

  .input-group {
    margin-bottom: 10px;
  }

  .contact-form input,
  .contact-form textarea {
    margin-bottom: 12px;
  }

  .contact-form button {
    align-self: center;
    width: 100%;
    max-width: 160px;
  }

  .contact-info {
    flex-direction: column;
    align-items: center;
    margin: 40px 15px;
    gap: 20px;
  }

  .contact-box {
    width: 100%;
    max-width: 300px;
    padding: 30px 15px;
  }

  .contact-box h3 {
    font-size: 16px;
  }

  .contact-box p {
    font-size: 14px;
  }

  .location-map iframe {
    height: 300px;
  }
}
