.footer {
  border-top: 1px solid #0c898a;
  padding-top: 60px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  padding-left: 120px;
  padding-right: 120px;
  border-bottom: 1px solid #d8d8d8;
}

#logo-image-footer {
  height: 160px;
  width: 160px;
}

.nav-list {
  list-style-type: none;
  padding-left: 0;
}

.nav-list li {
  margin-bottom: 15px;
}

.footer-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navigation-title {
  margin-bottom: 8px;
  text-align: center;
}

.nav-columns {
  display: flex;
  gap: 60px;
}

.nav-columns .nav-list {
  list-style-type: none;
  padding-left: 0;
}

.icon {
  width: 16px;
  vertical-align: middle;
}

.icon-link:nth-of-type(2) .icon {
  width: 27px;
}

.icon-link {
  margin-right: 20px;
  text-decoration: none;
}

.rights-reserved {
  flex-basis: 100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

@media (max-width: 1500px) {
  .footer-container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 1300px) {
  .footer {
    padding-top: 30px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
  }

  .footer-container > div {
    flex-basis: 50%;
    text-align: center;
  }

  #logo-image-footer {
    height: 150px;
    width: 150px;
  }

  .footer-contacts {
    margin-bottom: 10px;
  }

  .icon-link {
    margin-right: 15px;
  }

  .nav-columns {
    justify-content: flex-start;
    text-align: start;
    gap: 40px;
  }
}

@media (max-width: 767px) {
  .footer {
    padding-top: 20px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  #logo-image-footer {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
  }

  .nav-list li {
    margin-bottom: 10px;
  }

  .footer-contacts {
    margin-bottom: 20px;
  }

  .icon-link {
    margin-right: 10px;
  }

  .nav-columns {
    justify-content: flex-start;
    text-align: start;
    gap: 20px;
  }
}
