#nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 80px;
  border-bottom: 1px solid #0c898a;
}

#nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-link {
  text-decoration: none;
  color: black;
}
.nav-link:hover {
  color: black;
  font-weight: 500;
  text-shadow: 0 0 1px #000;
}

.nav-link.active {
  color: black;
  font-weight: 700;
}

#logo-image-navbar {
  height: 70px;
  width: 70px;
}

#hamburger-menu {
  display: none;
}

@media (max-width: 1140px) {
  #nav-bar {
    padding-left: 40px;
    padding-right: 40px;
  }

  #nav-list {
    gap: 20px;
  }

  #hamburger-menu {
    display: none;
  }
}

@media (max-width: 950px) {
  #nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0px;
  }

  #nav-list {
    flex-direction: column;
    gap: 20px;
    width: 100%;
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
    align-items: center;
    margin: 0;
  }

  #nav-list.show {
    display: flex;
  }

  #hamburger-menu {
    display: block;
    cursor: pointer;
    font-size: 24px;
    margin-left: auto;
  }

  #hamburger-menu img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
