<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../css/footer.css" />
  </head>
  <body>
    <footer class="footer">
      <div class="footer-container">
        <div>
          <img
            src="../assets/images/logo.png"
            alt="logo-image"
            id="logo-image-footer"
          />
        </div>
        <div class="footer-navigation">
          <h4 class="navigation-title">Navigation</h4>
          <div class="nav-columns">
            <ul class="nav-list">
              <li><a href="../index.html" class="nav-link">Home</a></li>
              <li>
                <a href="../pages/about-us.html" class="nav-link">About Us</a>
              </li>
              <li>
                <a href="../pages/projects.html" class="nav-link"
                  >Projects and Workshops</a
                >
              </li>
              <li>
                <a href="../pages/events-news.html" class="nav-link"
                  >Events and News</a
                >
              </li>
            </ul>
            <ul class="nav-list">
              <li>
                <a href="../pages/gallery.html" class="nav-link">Gallery</a>
              </li>
              <li>
                <a href="../pages/contact.html" class="nav-link">Contact</a>
              </li>
              <li>
                <a href="../pages/join-us.html" class="nav-link">Join Us</a>
              </li>
            </ul>
          </div>
        </div>

        <div>
          <h4>Contacts</h4>
          <p class="footer-contacts">
            <img
              src="../assets/icons/location-dot-solid.svg"
              alt="location-icon"
              class="icon"
            />
            GTC Global, floor 2, No.14 / 2400 Strumica, North Macedonia
          </p>
          <p class="footer-contacts">
            <img
              src="../assets/icons/phone-solid.svg"
              alt="phone-icon"
              class="icon"
            />
            +389 (0)78 40 46 56
          </p>
          <p class="footer-contacts">
            <img
              src="../assets/icons/envelope-solid.svg"
              alt="envelope-icon"
              class="icon"
            />
            quovadis3377@yahoo.com
          </p>
        </div>
        <div>
          <h4>Social Media</h4>
          <a
            href="https://www.facebook.com/p/Quo-Vadis-Ad-Astra-100081638835775/"
            target="blank"
            class="icon-link"
          >
            <img
              src="../assets/icons/facebook-f-brands.svg"
              alt="facebook-icon"
              class="icon"
            />
          </a>

          <a
            href="https://www.instagram.com/quovadis.adastra/"
            target="blank"
            class="icon-link"
          >
            <img
              src="../assets/icons/instagram-brands.svg"
              alt="instagram-icon"
              class="icon"
            />
          </a>
        </div>
      </div>
      <p class="rights-reserved">
        &copy; <span id="year"></span> All Rights Reserved
      </p>
    </footer>
    <script src="../js/main.js"></script>
    <script src="../js/include-component.js"></script>
  </body>
</html>
