<footer class="footer">
	<div class="footer-container">
		<div>
			<img
				src="assets/images/logo.png"
				alt="logo-image"
				id="logo-image-footer" />
		</div>
		<div class="footer-navigation">
			<h4 class="navigation-title" data-i18n="footer_navigation_title">
				Navigation
			</h4>
			<div class="nav-columns">
				<ul class="nav-list">
					<li>
						<a href="index.html" class="nav-link" data-i18n="nav_home">Home</a>
					</li>
					<li>
						<a href="pages/about-us.html" class="nav-link" data-i18n="nav_about"
							>About Us</a
						>
					</li>
					<li>
						<a
							href="pages/projects.html"
							class="nav-link"
							data-i18n="nav_projects"
							>Projects and Workshops</a
						>
					</li>
					<li>
						<a
							href="pages/events-news.html"
							class="nav-link"
							data-i18n="nav_events"
							>Events and News</a
						>
					</li>
				</ul>
				<ul class="nav-list">
					<li>
						<a
							href="pages/gallery.html"
							class="nav-link"
							data-i18n="nav_gallery"
							>Gallery</a
						>
					</li>
					<li>
						<a
							href="pages/contact.html"
							class="nav-link"
							data-i18n="nav_contact"
							>Contact</a
						>
					</li>
					<li>
						<a href="pages/join-us.html" class="nav-link" data-i18n="nav_join"
							>Join Us</a
						>
					</li>
					<li class="footer-language-flags">
						<img
							src="assets/icons/gb.png"
							alt="English"
							class="lang-flag"
							data-lang="en" />

						<img
							src="assets/icons/mk.png"
							alt="Македонски"
							class="lang-flag"
							data-lang="mk" />
					</li>
				</ul>
			</div>
		</div>

		<div>
			<h4 data-i18n="footer_contacts_title">Contacts</h4>
			<p class="footer-contacts" data-i18n="footer_address">
				<img
					src="assets/icons/location-dot-solid.svg"
					alt="location-icon"
					class="icon" />
				GTC Global, floor 2, No.14 / 2400 Strumica, North Macedonia
			</p>
			<p class="footer-contacts" data-i18n="footer_phone">
				<img src="assets/icons/phone-solid.svg" alt="phone-icon" class="icon" />
				+389 (0)78 40 46 56
			</p>
			<p class="footer-contacts" data-i18n="footer_email">
				<img
					src="assets/icons/envelope-solid.svg"
					alt="envelope-icon"
					class="icon" />
				quovadis3377@yahoo.com
			</p>
		</div>
		<div>
			<h4 data-i18n="footer_social_title">Social Media</h4>
			<a
				href="https://www.facebook.com/p/Quo-Vadis-Ad-Astra-100081638835775/"
				target="blank"
				class="icon-link">
				<img
					src="assets/icons/facebook-f-brands.svg"
					alt="facebook-icon"
					class="icon" />
			</a>

			<a
				href="https://www.instagram.com/quovadis.adastra/"
				target="blank"
				class="icon-link">
				<img
					src="assets/icons/instagram-brands.svg"
					alt="instagram-icon"
					class="icon" />
			</a>
		</div>
	</div>
	<p class="rights-reserved" data-i18n="footer_rights_reserved">
		&copy; <span id="year"></span> All Rights Reserved
	</p>
</footer>
