<nav id="nav-bar">
	<a href="../index.html">
		<img
			src="../assets/images/logo.png"
			alt="logo-image"
			id="logo-image-navbar" />
	</a>
	<div id="hamburger-menu">
		<img src="../assets/icons/bars-solid.svg" alt="menu-icon" />
	</div>
	<ul id="nav-list">
		<li>
			<a href="../index.html" class="nav-link" data-i18n="nav_home">Home</a>
		</li>
		<li>
			<a href="../pages/about-us.html" class="nav-link" data-i18n="nav_about"
				>About Us</a
			>
		</li>
		<li>
			<a href="../pages/projects.html" class="nav-link" data-i18n="nav_projects"
				>Projects and Workshops</a
			>
		</li>
		<li>
			<a
				href="../pages/events-news.html"
				class="nav-link"
				data-i18n="nav_events"
				>Events and News</a
			>
		</li>
		<li>
			<a href="../pages/gallery.html" class="nav-link" data-i18n="nav_gallery"
				>Gallery</a
			>
		</li>
		<li>
			<a href="../pages/contact.html" class="nav-link" data-i18n="nav_contact"
				>Contact</a
			>
		</li>
		<li>
			<a href="../pages/join-us.html" class="nav-link" data-i18n="nav_join"
				>Join Us</a
			>
		</li>
		<li class="language-selector">
			<button id="lang-toggle">
				<span data-i18n="nav_language">Language</span> ▼
			</button>
			<ul id="lang-options">
				<li data-lang="en">English</li>
				<li data-lang="mk">Македонски</li>
			</ul>
		</li>
	</ul>
</nav>
