<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nav Bar</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
  </head>
  <body>
    <nav id="nav-bar">
      <img
        src="../assets/images/logo.png"
        alt="logo-image"
        id="logo-image-navbar"
      />
      <div id="hamburger-menu">
        <img src="../assets/icons/bars-solid.svg" alt="menu-icon" />
      </div>
      <ul id="nav-list">
        <li>
          <a href="../index.html" class="nav-link">Home</a>
        </li>
        <li>
          <a href="../pages/about-us.html" class="nav-link">About Us</a>
        </li>
        <li>
          <a href="../pages/projects.html" class="nav-link">Projects</a>
        </li>
        <li>
          <a href="../pages/events-news.html" class="nav-link">Events&News</a>
        </li>
        <li>
          <a href="../pages/gallery.html" class="nav-link">Gallery</a>
        </li>
        <li>
          <a href="../pages/contact.html" class="nav-link">Contact</a>
        </li>
      </ul>
    </nav>
    <script src="../js/main.js"></script>
    <script src="../js/include-component.js"></script>
  </body>
</html>
